<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.williamgrose.android.songscribbler">
    <application android:icon="@drawable/icon">
        <activity android:name=".SongScribbler" android:label="@string/activity_list_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SongEdit" android:label="@string/activity_edit_name"/>
        <activity android:name=".SongView" android:label="@string/activity_view_name"/>
    </application>
</manifest>